<!--<div class="container mt-5">
  <div *ngIf="image" class="row animated_animated animate_bounce animate_fadeIn">
    <div class="col-md-9">
      <p><strong> Identifier:</strong>{{image.id}}</p>
      <p><strong> Author:</strong>{{image.author}}</p>
      <p><strong> Size:</strong>{{image.width}} - {{image.heigth}}</p>
      <p><strong> Url:</strong>{{image.url}}</p>
      <img style="width: 80%; height: 80%;" class="rounded" src="{{image.download_url}}" alt="">
    </div>
    <div class="cpl-md-3">
      <a class="btn btn-danger" routerLink="/"><span class="float-right">Back</span></a>
      <a class="btn btn-danger" routerLink="/"><span class="float-left">More info</span></a>
    </div>
  </div>
</div>-->

<div class="container mt-5">
  <h1>User information</h1>
  <div *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="image" class="row animate__animated animate__bounce animate__fadeIn">
    <div class="col-md-9">
      <p><strong>ID: </strong> {{image.id}}</p>
      <p><strong>Name: </strong> {{image.username}}</p>
      <p><strong>E-mail: </strong> {{image.email}}</p>
      <p><strong>WEBSITE: </strong> <a href="#">{{image.website}}</a></p>
    </div>
    <div class="col-md-3">
      <a class="btn btn-danger" routerLink="/">Back</a>

    </div>
    <div class="col-md-3">
      <button class="btn btn-outline-dark" (click)="showDetails()"> Show All Details</button>
    </div>
  </div>
  <div>
    <mat-tab-group mat-align-tabs="start" *ngIf="showData">
      <mat-tab label="Company">{{image.company.name}}</mat-tab>
      <mat-tab label="Phone">{{image.phone}}</mat-tab>
      <mat-tab label="City">{{image.address.city}}</mat-tab>
    </mat-tab-group>
  </div>
</div>
